<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940276311352-tkfcun36uvju02u1hisrn8sd1p9pnl8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940276311352-tkfcun36uvju02u1hisrn8sd1p9pnl8b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>940276311352-90fagka30tsci562plgfdfa9v8930eh0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Bwtaaq_lN1AviJKvYCKx32cKwgpr3io</string>
	<key>GCM_SENDER_ID</key>
	<string>940276311352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.legendprotek.com</string>
	<key>PROJECT_ID</key>
	<string>legendprotek-52968</string>
	<key>STORAGE_BUCKET</key>
	<string>legendprotek-52968.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940276311352:ios:75d5633a3eed407b5a0dcd</string>
</dict>
</plist>