<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83287093703-dji25inil307utdmmefub3g23d3rcq11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83287093703-dji25inil307utdmmefub3g23d3rcq11</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83287093703-54df5tqpicsf3v61incl6sv6kelj1gjq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDROk5mxdoBxuovj75A5v7AlfJQ2Psj73k</string>
	<key>GCM_SENDER_ID</key>
	<string>83287093703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COM.MSHUB.COM</string>
	<key>PROJECT_ID</key>
	<string>ms-hub-5ea0e</string>
	<key>STORAGE_BUCKET</key>
	<string>ms-hub-5ea0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83287093703:ios:63a3f026438e71baa969e2</string>
</dict>
</plist>